<h2>Order {{ order().id }}</h2>

<p>Area: {{ order().area }}</p>
<p>Location: {{ order().location }}</p>
<p>Status: {{ order().status | orderStatus }}</p>
<div class="status-changing">
  @if (order().status === "readyForGuest") {
  <button (click)="setStatus('pickedUp')">Picked up</button>
  <button (click)="setStatus('problem')">Problem</button>
  } @else if (order().status === "pickedUp") {
  <button (click)="setStatus('delivered')">Delivered</button>
  <button (click)="setStatus('problem')">Problem</button>
  } @else if (order().status === "delivered") {
  <button (click)="setStatus('problem')">Problem</button>
  <button (click)="setStatus('complete')">Complete</button>
  } @else if (order().status === "problem") {
  <button (click)="setStatus('delivered')">Delivered</button>
  <button (click)="setStatus('complete')">Complete</button>
  }
</div>

<p>Order time: {{ order().orderTime | date:"h:mm a MMMM d" }}</p>
<p>Pickup time: {{ order().pickupTime | date:"h:mm a MMMM d" }}</p>

<h3>Items</h3>
<section id="items">
  @for(item of order().items; track item.id) {
  <app-menu-item [item]="item" />
  }
</section>

<p class="money">Subtotal: {{ getSubtotal(order()) |currency}}</p>
<p class="money">Tax: {{order().tax |currency}}</p>
<p class="money">Tip: {{order().tip |currency}}</p>
<p class="money total">Total: {{ getTotal(order()) |currency}}</p>
<a [routerLink]="'/orders'">Back to orders</a>
